<configuration>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		local <file>/home/user/Documents/Practice-Workspace/logs/application.log</file>
	<!-- 	server
		<file>/home/Aeromaritime/logs/application.log</file> -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- server
			<fileNamePattern>/home/Aeromaritime/logs/application-%d{yyyy-MM-dd}.%i.log
			</fileNamePattern> -->
			local
			<fileNamePattern>/home/user/Documents/Practice-Workspace/logs/application-%d{yyyy-MM-dd}.%i.log 
				</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>120</maxHistory>
			<totalSizeCap>1GB</totalSizeCap>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<fieldNames>
				<timestamp>time</timestamp>
				<message>msg</message>
				<thread>thread</thread>
				<logger>logger</logger>
				<version>[ignore]</version>
				<levelValue>[ignore]</levelValue>
			</fieldNames>
		</encoder>
	</appender>

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<root level="all">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>